@CHARSET "UTF-8";


/** general "reset like" properties */
* { margin: 0px; padding: 0px; }

div { }

body {
	font-family: Arial;
	font-size: 11pt;
}

/** Page Structure */

#sidePanel{
	float: left;
}

#content {
	min-height: 400px;
	margin: 20px 0px 10px 0px;
	width: 1000px;
	height:auto;
	/*float: right;*/
}

#content p {
	margin: 10px 0px;
}

/** End Page Structure */

#all {
	width: 1000px;
	margin: 0px auto;
}

a:link, a:visited {
	color: #001668;
	font-weight: bold;
}

a:hover {
	text-decoration: underline;
	color: #ABB2B3;
}

h1 {
	font-size: 1.3em;
}

#header {
	margin-top: 10px;
	height: 100px;
}
#langs {
	position: absolute;
	top: 0px;
	right: 0px;
	text-align: center;
	margin-right:288px;
}
#langs li {
	display: inline;
	font-size: 0.8em;
	cursor: pointer;	
	background-color: #00B1EB;
	border: 2px #FFF;
	border-radius : 4px;
	color : white;
	font-weight:bold;
	padding: 3px;
}

#langs .currentLang {
	background-color: #00B1EB;
	color: white;
}

#langs li:hover {
	background-color: #ABB2B3;
}

#descr {
	margin: -90px 0px 0px 130px;
	width: 550px;
}
#descr p {
	margin: 10px 0px;
}

h2 {
	font-size: 1.2em;
}

#breadcrumb {
	font-size: 1.2em;
	margin: 10px 0px;
	color: #001668;
	font-weight: bold;
}

#breadcrumb a:link,#breadcrumb a:visited {
	font-style: italic;
}

#descrMain {
	border: solid 0px #CCCCCC;
	margin: 0px 130px 30px 50px;
	padding: 0px 10px;
	border-radius: 20px;
	width:860px;
	text-align:justify;
}

#message {
	margin: 0px 0px 30px 0px;
	padding: 10px;
	border: solid 1px #AACCAA;
	background: #CCFFCC;
	text-align:center;
	-webkit-border-radius: 7px;
	-moz-border-radius: 7px;
	border-radius: 7px;
}

input, select {
	padding: 5px;
	border-radius: 3px;
	border: solid 2px #003663;
	margin: 5px;
	background-color: white;
}

input.button {
	cursor: pointer;	
	background-color: #00B1EB;
	border: 4px double #FFF;
	border-radius : 8px 8px 8px 8px;
	color : white;
	font-weight:bold;
}

input.button:hover {
	background-color: #ABB2B3;
	color: white;
}

#config input, #config select{
	padding : 2px;
	margin: 2px;
}

input.display, select.display {
	padding: 1px;
	border-radius: 3px;
	border: solid 1px #888888;
	margin: 1px;
	background-color: white;
}

#eu {
	border-top: solid 1px #AAAAAA;	
	text-align:center;
	margin:auto;
	width:1000px;
}

#eu img {
	vertical-align: middle;
}

#debug {
	font-size: 0.7em;
	font-family: Courier new;
}


#validMetadata{
    background-color: white;
    border: 4px double #FFF;
    border-radius: 8px 8px 8px 8px;
	width:260px;
	background-color: #00B1EB;
	color: #FFF;
	height:30px;
}

.data{
	width : 300px;
}

.editable{
	width : 300px;
	height : 20px;
}

p.propp {
	display:inline;
	
}

.divBloc{
	display : inline;
}

.tdClass{

	width : 300px;
	border: 1px solid #888888;
    border-radius: 3px 3px 3px 3px;
	
}

#content .tdClass p{
	background-color:white;
	padding: 3px;
	margin : 4px;
}

.tdClass input{
    border: medium none;
    border-radius: 0 0 0 0;
    padding: 0;
}

.deleteButton{
	float : right;
	border: 2px double #888888;
    border-radius: 8px 8px 8px 8px;
	display:inline;
	background-color : red;
	cursor:pointer;
}

.row{
	display:table-row;
}

p.data{
	display:table-cell;
}
.deleteButton{
	display:table-cell;
}

#buttonGraphDisplay{
	border: 4px double #888888;
    border-radius: 8px 8px 8px 8px;
	background-color:white;
	cursor:pointer;
}

#buttonMetadata{
	border: 4px double #888888;
    border-radius: 8px 8px 8px 8px;
	background-color:white;
	cursor:pointer;
}
	
.workPart {
	padding: 20px 30px; 
	background-color: #FFF;
	border-radius: 10px;
	padding: 10px 10px 0px 10px;
	margin: 5px;
	border: solid 2px #00B1EB;
}
.workPart p {
	margin: 5px 0px;
}

/*-----------------------PARTS---*/
#searchMain {
	float:left;
	width: 400px;
	margin-left: 60px;
	margin-right:72px;
	background-color : #DAEBF0;
	border-color : #00B1EB;
	color : #003663;
}
#search {
	float:left;
	width: 917px;
}
#loginMain {
	float: left;
	width: 340px;
	background-color : #DAEBF0;
	border-color : #00B1EB;
	color : #003663;
}
#editUser {
	float: left;
	width: 320px;
}
/*** HomePage related CSS ***/

/* TODO : view if still used */
#createLinks {
	clear: left;
	float: left;
	width: 410px;
	margin-right: 40px;
}
/* TODO : view if still used */
#mapLink {
	clear: right;
	float: left;
	width: 440px;
	margin-bottom: 40px;
}


#terminoManagement {
	clear: left;
	float: left;
	width: 450px;
	margin-right: 20px;
	display:table;
	padding-top: 0px;
}

#terminoManagement h2,input{
	display:table-cell;
}

#linkManagement {
	clear: right;
	float: left;
	width: 420px;
	margin-bottom: 15px;
	display: table;
	padding-top: 0px;
}

#linkManagement h2,input{
	display:table-cell;
}

.imgManagement{
	padding-left: 15px;
}

/*** END HomePage related CSS ***/

#signin {
	width: 500px;
}
#forgot {
	width: 500px;
}
#editProfile {
	width: 500px;
	float: left;
}
#editPassword {
	float: left;
	width: 300px;
}
#thesauri {
	clear: left;
	padding-bottom: 5px;
	width: 920px;
}
#editor {
	/*padding: 10px;*/
}

#statePanelButton{
	display: block;
}

/*--------------------END PARTS---*/
#createLinks h2 {
	float: left;
	margin-right: 20px;
}
#createLinks input {
	margin-top: -10px;
} 
#mapLink h2 {
	margin-right: 20px;
	float: left;
}
#mapLink input {
	margin-top: -10px;
} 
#search input[name='search']{
	width: 380px;
}
#forgotLink {
	margin: 5px;
	font-size: 0.8em;
}
#signinlink {
	margin: 5px 20px;
}
#logout {
	position: absolute;
	top: -65px;
	font-size: 0.8em; 
	right: 0px;
	max-width: 200px;
}
#logout p {
	margin: 0px;
	padding: 0px;
}
#createLinks label {
	width: 110px;
}

#metadataForm p {
	margin: 2px 0px;
	padding: 0px 0px 0px 10px;
}

#metadataForm label {
	
	float: left;
	padding-top: 10px;	
	vertical-align:top;
	width: 120px;
	font-size: 0.9em;
	font-weight : normal;
	color : #003663;
}

#metadataForm th{
	text-align : right;
}

#metadataForm td{
	text-align : left;
}

#metadataForm input{
	width : 240px;
}

#metadataForm select{
	width : 253px;  
}

#metadataForm p.field {
}
#metadataForm p.submit {
	margin-top: 20px;
}

#metapart2 {
	position: absolute;
	top: 40px;
	left: 540px;
}

#thesauriDescr {
	width: 100%;
	margin: 10px 0px;
}
.thesaurusDescr {
	font-size: 0.9em;
}
.thesaurusDescr input {
}
#thesauriDescr th {
	font-size: 0.9em;
	font-weight: normal;
	cursor: pointer;
}
#thesauriDescr th:hover {
	text-decoration: underline;
}
th .sort {
	display: inline-block;
	width: 20px;
	height: 20px;
	margin-left: 4px;
	background: transparent url("down.png") bottom center no-repeat;
}
#thesauriDescr td {
}
.descrPart {
	background-color: #F0F0F0;
	font-size: 1.0em;
	padding: 2px 7px;
}
.subjectPart {
}
.creatorDescr {
	font-weight: bold;
}
.nameDescr {
	font-weight: bold;
	font-size: 1.2em;
}
.thActions {
	background-color: transparent;
	max-width: 130px;
}
.thActions input {
	margin: 0px 0px 0px 5px;
}
.editButton {
	position: relative;	
}
.editButtons {
	position: absolute;
	top: -5px;
	left: 4px;
	background-color: #F0F0F0;
	border: solid 1px #888888;
	padding: 4px;
	text-align:center;
	z-index: 12;
	border-radius: 3px;
}
.editButtons input {
	margin: 0px 0px 2px 0px;
}


#importRules {
	position: absolute;
	top: 40px;
	left: 400px;
	border: solid 1px #888888;
	background-color: #F0F0F0;
	padding: 5px;
	font-size: 0.9em;
	border-radius: 8px;
	text-align: center;
	width: 200px;
}


.editorPart {
	background-color: #F0F0F0;
	padding: 5px 5px;
	margin: 0px 0px 10px 0px;
	border-radius: 5px;
}
.editorPart p {
	margin: 0px;
	padding: 0px;
}
.editorPart input {
	margin: 0px;
}
.editorPart label {
	width: 100px;
}
#editorTools {
	position: absolute;
	bottom: 10px;
	left: 10px;
}
#treeView {
	width: 440px;
	margin: 0px;
	overflow: auto;
}
#treeView ul {
	margin-left: 20px;
}
#treeView li {
	cursor: pointer;
	list-style-type: none;
}
#treeView span {
	display: inline-block;
	padding: 3px 6px;
	margin: 1px 3px;
	border-radius: 3px;
	border: solid 2px #F0F0F0;
}
#treeView .selected {
	background-color: #9af82a;
}
#treeView .nodeHover {
	border: solid 2px #9af82a;
}
#treeView .lang {
	position: absolute;
	top: 5px;
	right: 5px;
	border: solid 1px #888888;
	background-color: white;
	cursor: pointer;
	border-radius: 3px;
	font-size: 0.9em;
	padding: 1px 3px;
}
#treeView .lang:hover {
	background-color: #008800;
	color: white;
}

#chart{
	margin-left:2px;
	margin-top : 15px;
}

.node circle {
  cursor: pointer;
  fill: #fff;
  stroke: steelblue;
  stroke-width: 2px;
}

.node text {
  font: 14px sans-serif;
}

/** For the current selected node **/
.node text.current{
	 font-style : italic;
	 font-weight : bold;
	 fill: green;
	 font-size : 16px;
}

path.link {
  fill: none;
  stroke: #ccc;
  stroke-width: 2.0px;
}

path.tempLink {
  fill: none;
  stroke: #2BA30A;
  stroke-width: 2.0px;
}

path.mapLink {
  fill: none;
  stroke: #ccc;
/*   stroke-width: 2.0px; */
}

/** path color for type of mapping links **/
path.mapLink.broader{
	stroke: red;
}

path.linkflo {
  fill: none;
  stroke: #ccc;
  stroke-width: 1.5px;
}

rect.mover {
	stroke: lightSteelBlue;
	stroke-opacity: 0.3;
	fill: lightSteelBlue;
	fill-opacity: 0.3;
}



/**** End treeView styling ****/

#linguisticWrapper {
	margin-left: 200px;
	min-height: 200px;
	width: 580px;
}
#linguistic {
	height: 160px;
}
#linguisticWrapper .lang {
	position: absolute;
	top: 0px;
	left: 180px;
	border: solid 1px #888888;
	background-color: white;
	cursor: pointer;
	border-radius: 3px;
	font-size: 0.9em;
	padding: 1px 3px;
	z-index: 12;
}
#linguisticWrapper .lang:hover {
	background-color: #008800;
	color: white;
}
#altLabelLabel {
	float: left;
}
#altLabelList {
	margin-left: 100px;
	border: solid 1px #888888;
	height: 40px;
	padding: 3px;
	border-radius: 3px;
	overflow: auto;
	width: 285px;
}
#altLabelList input {
	border: none;
	padding: 0px;
	border-radius: 0px;
}
#addAltLabel {
	position: absolute;
	top: 48px;
	left: 400px;
}
#addHiddenLabel {
	position: absolute;
	top: 104px;
	left: 400px;
}
.removeLabel {
	margin-left: 10px;
	border: solid 1px #888888;	
}

.tabs {
	position: absolute;
	top: 0px;
}
.tabs li {
	list-style-type: none;
	display: inline;
	font-size: 0.8em;
	margin: 0px 3px;
	background-color: #F0F0F0;
	padding: 3px 5px;	
	cursor: pointer;
}
.tabs li.currentTab {
	color: #008800;
	cursor: default;
	font-weight: bold;
}
.tabs li.hover {
	background-color: #008800;
	color: white;
}

#documentary textarea{
	position: absolute;
	left: 90px;
	top: 0px;
	max-width: 450px;
	max-height: 120px;
	width: 450px;
	height: 120px;
	border-radius: 4px;
	border: solid 1px #CCCCCC;
	padding: 4px;
}
#documentary h4 {
	font-weight: normal;
	font-size: 0.9em;
	cursor: pointer;
	padding: 3px;
	width: 90px;
}
.documentaryField {
	position: static;
}
#documentary h4.currentDoc {
	color: #008800;
	background-color: #E0E0E0;
	font-weight: bold;
}

#conceptualWrapper {
	width: 580px;
	margin-left: 200px;
	min-height: 200px;
}
#conceptual	 {
	height: 160px;
}
#conceptual	label {
	width: 60px;
}
.conceptsList {
	position: absolute;
	width: 270px;
	height: 90px;
	border: solid 1px #888888;
	border-radius: 4px;
	padding: 5px;
}
#broaders {
	left: 0px;
	top: 40px;
}
#narrowers {
	right: 0px;
	top: 40px;
}
#related {
	left: 0px;
	top: 0px;
}
.conceptsList h4 {
	font-size: 0.9em;
}
.conceptsList .addConcept {
	position: absolute;
	top: 0px;
	left: 100px;
}
.conceptsList select {
	padding: 1px;
}
.conceptsList input {
	padding: 1px;
	z-index: 12;
}
.conceptsWrapper {
	overflow: auto;
	height: 75px;
}
.subConcept {
	border: solid 1px #CCCCCC;
	padding: 2px;
	display: inline-block;
	background-color: #FFFFFF;
	border-radius: 3px;
	margin: 4px 4px 0px 0px;
}
.subConcept .button {
	z-index: 10;
}

/*------------------CAROUSEL----*/
#carousel {
	clear: both;
	height: 150px;
	margin: 300px auto 30px 60px;
	width: 1200px;
	padding: 0px;
}
#carouselContentOut {
	position: relative;
	overflow: hidden;
	width: 1000px;
	height: 156px;
}
.carouselPartOut {
	
	top: 0px;	
	text-align:center;
	height: 105px;
	border-color: #AAAAAA;
	padding:2px;
	width : 140px;
	display:inline;
	
}
.carouselNav {
	
	top: 0px;
	height: 111px;
	padding-top: 45px;
	width: 50px;
	cursor: pointer;
	text-align:center;
	font-size: 30pt;
	color: #AAAAAA;
}
.carouselNav:hover {
	background-color: #EEEEEE;
	color: #555555;	
}

#carouselPrev {
	left: 0px;
}
#carouselNext {
	right: 0px;
}
.carouselUrl {
	width: 100%;
	height: 40px;
	position: absolute;
	bottom: 0px;
	left: 0px;
	background-color: rgba(0,0,0,0.7);
	z-index: 12;
	padding-top: 20px;
}
.carouselUrl:link, .carouselUrl:visited, .carouselUrl:hover  {
	color: white;
	text-decoration: none;
	font-size: 1.2em;
}

/*---------------------MAPPING----*/

#mapping {
	height: 600px;
}
.mapButton {
	position: absolute;
	top: 260px;
	height: 20px;
	width: 100px;
	left: 407px;
	padding: 10px;
	background-color: white;
	border-radius: 10px;
	border: solid 1px #CCCCCC;
	text-align: center;
	cursor: pointer;
}
.mapButton:hover {
}
#closeMatchButton {
	background-color: BurlyWood ;
}
#exactMatchButton {
	background-color: Azure ;
}
#broadMatchButton {
	background-color: LightBlue ;
}
#narrowMatchButton {
	background-color: LightPink ;
}
#relatedMatchButton {
	background-color: Lavender ;
}
.thTitle {
	position: absolute;
	top: 10px;	
}
#th1Title {
	left: 30px;
}
#th2Title {
	right: 30px;
} 
.mappingTh {
	position: absolute;
	top: 30px;
	width: 380px;
	height: 450px;
	background-color: white;
	-webkit-border-radius: 10px;
	-moz-border-radius: 10px;
	border-radius: 10px;
	overflow: auto;
	border: solid 1px #CCCCCC;
}
.mappingConceptInfos {
	position: absolute;
	top: 510px;
	height: 80px;
	width: 430px;
	border: solid 1px #AAAAAA;
	border-radius: 4px;
	background: #FFFFFF;
	font-size: 0.8em;
	padding: 4px;
}
#mappingConceptInfos1 {
	left: 20px;
}
#mappingConceptInfos2 {
	right: 20px;
}
.mappingConcept {
	margin: 3px;
	padding: 2px;
	-webkit-border-radius: 6px;
	-moz-border-radius: 6px;
	border-radius: 6px;
	background-color: #F0F0F0;
	border: solid 1px #CCCCCC;
	cursor: default;
}
.mappingConceptHover {
	border-color: black;
}
.mappingConceptSelected {
	background-color: #FFFFAA;
}
.mappingConceptMapped {
	background-color: #AAFFAA;
}
.mappedConceptHover {
	border: solid 1px black;
	border-left: solid 10px black;
	border-right: solid 10px black;
	font-weight: bold;
}
#th1 {
	left: 20px;
}
#th2 {
	right: 20px;
}
.infoPart .tab {
	position: absolute;
	top: -23px;
	font-size: 0.9em;
	padding: 2px 2px;
	border: solid 1px #888888;
	cursor: pointer;
}
.infoPartContent {
	position: absolute;
	top: 0px;
	left: 0px;
	width: 100%;
}

.currentInfoPart .tab {
	color: #008800;
	background-color: white;
}

#listTerminology_previous{
	padding : 5px;
}

#listTerminology_next{
	padding : 5px;
}

.classInline{
	display:inline;
}

#goHome{
	width:180px;
	height:100px;
}

#imgHeader{
	width:500px;
	height:100px;
}

#editor{
	float:left;
	width : 340px;
}


#goToimport{
    background-color: #00B1EB;
    border: 4px double #FFFFFF;
    border-radius: 8px 8px 8px 8px;
    color: white;
    cursor: pointer;
    font-weight: bold;
	padding : 5px;
	text-decoration : none;
	}
/*----------------END--MAPPING----*/

/*** style for panel that are displayed on click **/
.panel{
	padding : 10px;
	background-color : white;
	border: 1px solid #fff;
	border-radius:10px;
	box-shadow: 10px 10px 5px #888888;
}

/************ EDIT RELATED CSS *************/
#ccpEditZone{
       float:right;
       width:500px;
       display:none;
}

div.button{
	display: table-cell;
	padding-left: 5px;
	/*padding: 5px;*/ 
	/*margin-left : 15px;*/
	height: 17px;
}

.editsection{
    background-color: white;
    border: 4px double #888888;
    border-radius: 8px 8px 8px 8px;
    cursor: pointer;
    width: 25px; 
    height: 25px;
}

div.text {
	display: table-cell; 
	width: 100px;
	text-align: right;
	padding-right: 10px;
}

div.prop { 
	display: table;
	text-align:left; 
	margin-bottom: 5px;
}

div.data{
	display: table-cell; 
	padding: 3px;
	border: 1px solid #888888;
    border-radius: 3px 3px 3px 3px;	
}

#content p.data{
	background-color:#FFF;
	border: medium none;
    border-radius: 0 0 0 0;
    padding: 3px 0px 3px 0px;
	margin : 0px;
}
/************ END EDIT RELATED CSS *************/
